<?xml version="1.0"?>
<ScriptList xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ScriptListEntry Type="Npc">
    <Entrys>
      <!-- register global events, based on the Events class -->
      <Entry Type="Path" Path="OnWorldLoadFinishHandler.cs" />
    </Entrys>
  </ScriptListEntry>
</ScriptList>