<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ssc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ssc.Properties.Settings>
            <setting name="WarnOnChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InfoOnHover" serializeAs="String">
                <value>True</value>
            </setting>
        </Ssc.Properties.Settings>
    </userSettings>
</configuration>