<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PathDefence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PathDefence.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PathDefence.Properties.Settings>
            <setting name="UpdateServer" serializeAs="String">
                <value>http://update.pathdefence.diamondback-development.de</value>
            </setting>
            <setting name="LogServer" serializeAs="String">
                <value>log.pathdefence.diamondback-development.de</value>
            </setting>
            <setting name="LogAccount" serializeAs="String">
                <value>web369f4</value>
            </setting>
            <setting name="LogPw" serializeAs="String">
                <value>pathlog</value>
            </setting>
        </PathDefence.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PathDefence.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.5.0.0</value>
            </setting>
            <setting name="CheckForUpdatesOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UploadLogOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchForTestversion" serializeAs="String">
                <value>False</value>
            </setting>
        </PathDefence.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
