<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eACGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <eACGUI.Properties.Settings>
            <setting name="ConfigDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="GUITheme" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SaveOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateBackup" serializeAs="String">
                <value>True</value>
            </setting>
        </eACGUI.Properties.Settings>
    </userSettings>
</configuration>