<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="GrfEditor.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
  <GrfEditor.Client.Properties.Settings>
   <setting name="EnableResnametableSearch" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ErrorOnResnametable" serializeAs="String">
    <value>True</value>
   </setting>
  </GrfEditor.Client.Properties.Settings>
 </userSettings>
</configuration>
