<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Healbot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Healbot.Properties.Settings>
            <setting name="HealPlayer1" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer3" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer4" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer5" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer6" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HealPlayer7" serializeAs="String">
                <value>10</value>
            </setting>
        </Healbot.Properties.Settings>
    </userSettings>
</configuration>