<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Sbt.Properties.Settings>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimerPerRow" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="LastList" serializeAs="String">
                <value />
            </setting>
            <setting name="TimerWidth" serializeAs="String">
                <value>265</value>
            </setting>
            <setting name="OverlayActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayY" serializeAs="String">
                <value>100</value>
            </setting>
        </Sbt.Properties.Settings>
    </userSettings>
</configuration>