<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Smd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Smm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Smd.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Passwort" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayActive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="OverlayY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MarkedStandAlone" serializeAs="String">
                <value>False</value>
            </setting>
        </Smd.Properties.Settings>
        <Smm.Properties.Settings>
            <setting name="LastMap" serializeAs="String">
                <value>Reikeuseu</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Passwort" serializeAs="String">
                <value/>
            </setting>
        </Smm.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
